<% provide :title, t("about.about_1") %>
<h1><%= t "about.about_1" %></h1>
<p>
  <%= link_to "Ruby on Rails #{t "tut"}", "http://www.railstutorial.org/" %>
  <%= t "isa" %> <%= link_to t("book"), "http://www.railstutorial.org/book" %>
  <%= t "and" %> 
  <%= link_to t("about_page.about_page_3"), "http://screencasts.railstutorial.org/" %>
  <%= t "about_page.about_page_1" %> 
  <%= link_to "Ruby on Rails", "http://rubyonrails.org/" %>. 
  <%= t "about_page.about_page_2" %>
</p>
