<% provide :title, t("help.help_1") %>
<h1><%= t "help.help_1" %></h1>
<p>
  <%= t "help_page.help_page_1" %>
  <%= link_to t("help_page.help_page_3"), "http://www.railstutorial.org/help" %>
  <%= t "help_page.help_page_2"  %>
  <%= link_to t("help_page.help_page_4"), "http://www.railstutorial.org/book" %>
</p>
