<h1><%= t "reset_pass" %></h1>

<p><%= t "reset_pass_instruct.reset_pass_instruct1" %></p>

<%= link_to t("reset_pass"), edit_password_reset_url(@user.reset_token,
   email: @user.email, id: @user.id) %>

<p><%= t "reset_pass_instruct.reset_pass_instruct2" %></p>

<p><%= t "reset_pass_instruct.reset_pass_instruct3" %></p>