<% @user ||= current_user %>
<div class="stats">
  <%= link_to relationships_path user_id: @user.id, type: "following" do %>
    <strong class="stat">
      <%= @user.following.count %>
    </strong>
    <%= t "following" %>
  <% end %>
  <%= link_to relationships_path user_id: @user.id, type: "followers" do %>
    <strong class="stat" id="followers">
      <%= @user.followers.count %>
    </strong>
    <%= t "followers" %>
  <% end %>
</div>
