<footer class="footer">
  <small>
    <%= link_to t("rails_tut"), "http://www.railstutorial.org/" %>
    <%= t("by.by_2") %> <%= link_to "Michael Hartl", "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about.about_1"), about_path %></li>
      <li><%= link_to t("contact.contact_1"), contact_path %></li>
      <li><%= link_to t("news"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
